<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Astound Tests">
  <test name="Tests">
    <packages>
      <package name="ua.astound.test" />
    </packages>
    <classes>
      <class name="ua.astound.test.WSTestsSuit">
        <methods>
          <exclude name="debug.*"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
